@import 'utils.less';
@import 'core.less';

//Structure
html{
	font-size: 10px;
}

main{
	padding: 45px 0;
}

.main-menu{
	border-bottom: solid 1px @color-menu-border-bottom;
	height: 46px;
	.gradient(@color-menu-background-start, @color-menu-background-end);
	.shadow-box;
}

.container{
	width: 950px;
	margin: 0 auto;
}

//Layout
body{
	background: url('../img/layout/background-header.png') 0 0 repeat-x, url('../img/layout/background.png') 0 0 repeat;
	color: @color-text-dark;
	font: 1.2rem @font-site;
}

h1{
	text-align: center;
	font-size: 3.2rem;
	margin-bottom: 10px;
}

.items-timer{
	padding: 0 30px;
	font-size: 1.4rem;
	margin-bottom: 35px;
	.clear;

	ul{
		float: left;
		width: 80%;

		li{
			display: inline-block;
    		margin-right: 25px;
    		padding: 10px 0;

    		&:last-child{
    			margin-right: 0;
    		}
		}
	}

	span, img{
		vertical-align: middle;
	}

	.timer{
		padding: 10px;
		float: left;
		margin-left: 2%;
	}
}


.buy{
	border-radius: 5px;
	.shadow-box-below;

	.games{
		background: url('../img/layout/background-games.jpg') center no-repeat;
		border-bottom: solid @color-games-games-border-bottom 1px;
		padding: 30px 2% 25px;
		border-radius: 5px 5px 0 0;
		.clear;
 
		figure{
			width: 33%;
			height: 100%;
			float: left;
			text-align: center;
			box-sizing: border-box;
			position: relative;

			&.active{
				&:not(:first-child):after{
					content: '';
				    display: block;
				    position: absolute;
				    background: url('../img/icons/plus.png') center no-repeat;
				    height: 24px;
				    width: 24px;
				    top: 25%;
				    left: -4%;
				}

				.active-check{
					color: @color-green;

			    	&:before{
			    		background-image: url('../img/icons/green-check.png')
			    	}
				}
			}

			> img{
				margin-bottom: 8px;
			}

			figcaption{
			    width: 83%;
    			margin: 0 auto;
			}

			div{
				border-top: solid @color-games-description-price-border 1px;
				border-bottom: solid @color-games-description-price-border 1px;
				padding: 10px 0;
				margin-bottom: 15px;

				p{
					line-height: 1.6;
				}
			}

			.active-check{
				color: @color-games-text-active-check;

				&:before{
					display: inline-block;
					vertical-align: middle;
					content: '';
					height: 14px;
					width: 14px;
					background: url('../img/icons/x.png') 0 center no-repeat;
					padding-right: 5px;
				}

			    span{
			    	vertical-align: middle;
			    }
			}
		}
	}

	.price{
		padding: 35px 30px;
		border-radius: 0 0 5px 5px;
		background: @color-games-price-background;
		border-top: solid @color-games-price-border-top 1px;

		.controls{
			position: relative;
			.clear;
		}

		.price-label{
			float: left;
			font-size: 1.4rem;

			&.left{
				margin-right: 1.5%;
			}

			&.right{
				margin-left: 1.5%;
			}
		}
	}
}

@import 'controls/slider.less';