@import 'utils.less';
@import 'core.less';
@import 'controls/slider.less';
@import 'controls/unlock-carousel.less';
@import 'controls/percentage-circle.less';
@import 'controls/light-box.less';

//Structure
html{
	font-size: 10px;
}

main{
	padding: 45px 0;
}

.main-menu{
	border-bottom: solid 1px @color-menu-border-bottom;
	height: 46px;
    box-sizing: border-box;
    padding: 10px;
	.gradient(@color-menu-background-start, @color-menu-background-end);
	.shadow-box;

	.media-mobile({
		display: none;
	});
}

.container{
	width: 950px;
	margin: 0 auto;

	.media-mobile({
		width: 100%;
	    overflow: hidden;
	});
}

//Layout
body{
	background: url('../img/layout/background-header.png') 0 0 repeat-x, url('../img/layout/background.png') 0 0 repeat;
	color: @color-text-dark;
	font: 1.2rem @font-site;

	.media-mobile({
		background: url('../img/layout/background.png') 0 0 repeat;
	});
}

h1{
	text-align: center;
	font-size: 3.2rem;
	margin-bottom: 10px;
}

h2{
	font-size: 1.4rem;
	text-align: center;
	color: @color-subtitle;
	position: relative;

	.media-mobile({
		font-size: 2.5rem;
	});

	&:before{
		position: absolute;
		width: 23%;
		content: '';
		border-top: 1px solid  @color-subtitle-border;
		top: 50%;
		left: 0;

		.media-mobile({
			display: none;
		});
	}

	&:after{
		position: absolute;
		width: 23%;
		content: '';
		border-top: 1px solid  @color-subtitle-border;
		top: 50%;
		right: 0;

		.media-mobile({
			display: none;
		});
	}
}

h3{
	margin-bottom: 10px;

	.media-mobile({
		font-size: 2.5rem;
	});	
}

.items-timer{
	padding: 0 30px;
	font-size: 1.4rem;
	margin-bottom: 35px;
	.clear;

	.media-mobile({
		text-align: center;
	});

	ul{
		float: left;
		width: 80%;
		font-size: 1rem;

		.media-mobile({
			float: none;
    		width: 100%;
		    margin-bottom: 10px;
		    font-size: 1.5rem;
		});

		li{
			display: inline-block;
    		margin-right: 25px;
    		padding: 10px 0;

    		.media-mobile({
				margin-right: 0;
			    display: block;
    		});

    		&:last-child{
    			margin-right: 0;
    		}
		}
	}

	span{
		vertical-align: middle;
	}

	img{
		vertical-align: middle;

		.media-mobile({
			display: none;
		});
	}

	.timer{
		padding: 10px;
		float: right;
		margin-left: 2%;

		.media-mobile({
		    float: none;
    		display: inline-block;
    		font-size: 4rem;
		});
	}
}


.buy{
	border-radius: 5px;
	.shadow-box-below;

	.games{
		background: url('../img/layout/background-games.jpg') @color-games-background center top no-repeat;
		border-bottom: solid @color-games-games-border-bottom 1px;
		padding: 28px 2% 25px;
		border-radius: 5px 5px 0 0;
		.clear;

		.media-mobile({
			background-image: none;
		});
 
		figure{
			width: 33%;
			height: 100%;
			float: left;
			text-align: center;
			box-sizing: border-box;
			position: relative;

			.media-mobile({
			    width: 100%;
    			margin-bottom: 80px;
			});

			&.active{
				&:not(:first-child):after{
					content: '';
				    display: block;
				    position: absolute;
				    background: url('../img/icons/plus.png') center no-repeat;
				    height: 24px;
				    width: 24px;
				    top: 25%;
				    left: -4%;

				    .media-mobile({
					    top: -15%;
    					left: 48%;
				    });
				}

				.active-check{
					color: @color-green;

			    	&:before{
			    		background-image: url('../img/icons/green-check.png');
			    	}
				}
			}

			> img{
				margin-bottom: 8px;
			}

			figcaption{
			    width: 83%;
    			margin: 0 auto;

    			.media-mobile({
					font-size: 3rem;
    			});
			}

			div{
				border-top: solid @color-games-description-price-border 1px;
				border-bottom: solid @color-games-description-price-border 1px;
				padding: 10px 0;
				margin-bottom: 15px;

				p{
					line-height: 1.6;

					.media-mobile({
						font-size: 2.8rem;
					});
				}
			}

			.active-check{
				color: @color-games-text-active-check;

				&:before{
					display: inline-block;
					vertical-align: middle;
					content: '';
					height: 14px;
					width: 14px;
					background: url('../img/icons/x.png') 0 center no-repeat;
					padding-right: 5px;

					.media-mobile({
						.transform(scale(2));
					});
				}

			    span{
			    	vertical-align: middle;
			    }
			}
		}
	}

	.price{
		padding: 35px 30px;
		border-radius: 0 0 5px 5px;
		background: @color-games-price-background;
		border-top: solid @color-games-price-border-top 1px;

		.controls{
			position: relative;
			.clear;
		}

		.slider{
			float: left;
    		width: 87.5%;

    		.media-mobile({
		       width: 72%;
			    margin-top: 15px;
			    height: 25px;
    		});

			.checkout{
				form{
			    	border: 1px solid @color-slider-checkout-border;
			    	border-radius: 5px;
				    .gradient(@color-slider-checkout-gradient-start, @color-slider-checkout-gradient-end);
				    padding: 10px;
				    position: relative;
				    display: inline-block;

				    .media-mobile({
						padding: 15px;
						border-radius: 10px;
			    	});
			    }

			    input, label{
			    	font-size: 2.5rem;
			    	color: @color-slider-price-text;

			    	.media-mobile({
			    		font-size: 3rem;
		    		});
			    }

			    input{
			    	border: 0;
			    	background: none;
			    	outline: 0;
			    	box-shadow: none;
			    	.appearance(textfield);

			    	.media-mobile({
			    		font-size: 3rem;
		    		});

			    	&::-ms-clear {
					    display: none;
					}

			    	&::-webkit-inner-spin-button, 
					&::-webkit-outer-spin-button { 
					    .appearance(none);
					    margin: 0; 
					}
			    }

			    button{
			    	.green-gradient;
			    	border-radius: 5px;
			    	font-size: 1.3rem;
			    	padding: 10px;
			    	vertical-align: top;
			    	cursor: pointer;

			    	.media-mobile({
			    		font-size: 2rem;
		    		});

					&[disabled]{
						background: @color-subtitle-border;
						border-color:  @color-subtitle-border; 
						color: @color-subtitle;
						cursor: default;

						&:hover{
							color: @color-subtitle;
						}
					}

			    	&:hover{
			    		color: @color-white;
			    	}
			    }

			 	small{
			 		padding: 5px 5px 5px 20px;
				    display: block;
				    background: url('../img/icons/info.png') 1% 49% no-repeat;
				    font-size: 1rem;
				    color: @color-slider-checkpoint-text;

				    .media-mobile({
			    		font-size: 1.5rem;
			    		background: none;
			    		padding-left: 5px;
		    		});
			 	}
			}
		}

		.price-label{
			float: left;
			font-size: 1.4rem;

			.media-mobile({
			    font-size: 4rem;
			});

			&.left{
				margin-right: 1.5%;
			}

			&.right{
				margin-left: 1.5%;
			}
		}
	}
}

.goods{
	margin: 65px 0;
	color: @color-subtitle;
	.clear;

	> div{
		float: left;
		padding: 0 30px;
		box-sizing: border-box;
	}

	p{
		line-height: 1.5;
	}

	.left{
		width: 61%;

		.media-mobile({
		    width: 100%;
		    float: none;
		});
	
		figure{
			text-align: center;
			width: 32.5%;
			display: inline-block;
			vertical-align: top;
			margin: 40px 0 0;

		    .media-mobile({
		    	width: 49.4%;
				font-size: 2.5rem;
			    box-sizing: border-box;
			    padding: 10px;
		    });

			img{
				margin-bottom: 15px;

				.media-mobile({
					.transform(scale(2));
				});
			}
		}
	}

	.right{
		width: 39%;

		.media-mobile({
		    width: 90%;
		    float: none;
		    margin: 30px auto;
		});

		.sold{
			text-align: center;
			margin: 30px 0 20px;

			p{
			    font-size: 2.3rem;
			}

			span{
				font-family: @font-digital;
				font-size: 4rem;
				color: @color-white;
				display: inline-block;
			    text-align: right;

			    .media-mobile({
					font-size: 10rem;
			    });

				&.digit{
					padding: 3px 6px 0;
					border: 1px solid transparent;
					position: relative;
					z-index: 1;
				    width: 0.54em;

					&:before{
						content: '8';
						position: absolute;
						display: inline-block;
						color: @color-goods-sold-background-text;
						border: 1px solid @color-goods-sold-gradient-border;
						z-index: -1;
						padding: 3px 6px 0;
						border-radius: 5px;
						top: 0;
						left: 0;
						.gradient(@color-goods-sold-gradient-start, @color-goods-sold-gradient-end);
					}
				}

				&.dot{
					color: @color-goods-sold-gradient-border;
					vertical-align: bottom;
					line-height: 0.5;
					text-indent: center;
				}
			}
		}

		.gallery{
			text-align: center;

			p{
				.media-mobile({
			        font-size: 1.3rem;
				    width: 80%;
				    margin: 0 auto;
				});
			}
		}

		.unlock-buttons{
		    width: 88%;
		    margin: 0 auto;
		    border-radius: 5px;
		    overflow: hidden;
		    font-size: 1rem;
		    border: 1px solid @color-gray-border;
		    .clear;

		    .media-mobile({
				font-size: 3rem;
				width: 100%;
		    });

		    li{
	    	    float: left;
			    width: 20%;
			    padding: 5px 0;
			    background: @color-goods-unlock-buttons-background;
			    position: relative;
			    cursor: pointer;
			    color: @color-subtitle;

			    img{
			    	.media-mobile({
			    		.transform(scale(3));
					    position: relative;
					    top: -8px;
		    		});
			    }

			    &.active, &:hover{
					.gradient(@color-goods-unlock-buttons-gradient-start, @color-goods-unlock-buttons-gradient-end);
			    }

			    &:first-child{
			    	border-top-left-radius: 5px;
			    	border-bottom-left-radius: 5px;
			    }

			    &:last-child{
			    	border-top-right-radius: 5px;
			    	border-bottom-right-radius: 5px;
			    }

			    &:not(:first-child):after{
			    	content: '';
			    	position: absolute;
			    	width: 1px;
			    	height: 100%;
			    	background: @color-gray-border;
			    	left: 0;
			    	top: 0;
			    }
		    }
		}
	}
}